.home-container {
  padding: 20px;
  padding-top: 0px;
}

.places-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
}

.filter-buttons {
  background: none;
  color: white;
  font-weight: bolder;
  border: none;
  width: 80px;
  height: 50px;  
  margin-top: 0px;
  margin-bottom: 10px;
}

.filter-buttons:hover{
  background-color: white;
  color:black;
  cursor: pointer;
  border-radius: 10%;
}

.filter-btn-container {
  display: flex;
  justify-content: center;
}